@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i|Oswald:300,400,500,600,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #333333;
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  margin: 0;
}

h2,
h3 {
  font-size: 35px;
  font-weight: 900;
}

header,
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 20px;
  font-size: 20px;
  background-color: #8898c0;
  color: #fff;
  text-transform: uppercase;
}

header a {
  font-weight: bold;
  font-size: 25px;
}

.intro {
  background-color: #eef1f7;
  width: 100%;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 40px 40px;
}

.intro__imagen {
  width: 30%;
}

.intro__imagen img {
  width: 100%;
}

.intro__contenido {
  width: 70%;
}
.intro__contenido p {
  max-width: 90%;
  font-size: 20px;
  line-height: 40px;
}

.intro__contenido span {
  display: block;
  font-weight: bold;
  font-style: italic;
}

.boton {
  display: block;
  width: 200px;
  height: 50px;
  padding: 8px 0;
  text-align: center;
  background-color: #012179;
  color: #fff;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 900;
  text-decoration: none;
}

.boton:hover {
  background-color: #333;
  color: #fff;
  text-decoration: none;
}

.contenido {
  display: flex;
  align-items: center;
  justify-content: center;
}
.caja {
  max-width: 400px;
  margin: 50px 20px;
}

.caja__imagen {
  background-color: #ced7e9;
  text-align: center;
  margin-bottom: 20px;
  padding: 20px 0;
  max-width: 250px;
}

.caja__imagen img {
  width: 100%;
}

.caja__contenido {
  background-color: #eef1f7;
  padding: 20px;
}

footer ul {
  display: flex;
}
footer li {
  list-style: none;
  margin-left: 40px;
}

@media screen and (max-width: 768px) {
  h2,
  h3 {
    font-size: 28px;
  }

  header a {
    font-size: 20px;
  }
  header,
  footer {
    font-size: 14px;
    padding: 10px;
  }
  footer {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .intro {
    flex-direction: column;
    align-items: flex-start;
  }
  .intro__imagen {
    width: 220px;
  }
  .intro__contenido {
    width: 100%;
  }
  .intro__contenido p {
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 600px) {
  .contenido {
    flex-direction: column;
    gap: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .caja {
    margin: 0;
  }
}

/* RETO__________ */
main {
  display: grid;
  grid-template-columns: 300px 1fr;
}
.menu {
  background-color: #eef1f9;
  padding: 50px 0 0 50px;
}
.menu ul {
  display: grid;
  padding: 0;
}
.menu li {
  color: #4d5a84;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  list-style: none;
  margin: 16px 0;
}
.descripcion {
  display: block;
  padding: 80px 100px;
}

@media screen and (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
  }
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px;
  }
  .menu ul {
    display: flex;
    gap: 15px;
  }
  .descripcion {
    padding: 40px 20px;
  }
  .descripcion h1 {
    margin-bottom: 10px;
  }
  .descripcion .boton {
    margin-top: 25px;
  }
}
@media screen and (max-width: 600px) {
  .menu {
    justify-content: center;
    padding: 20px 10px;
  }
  .menu h2 {
    display: none;
  }
  .menu li {
    font-size: 14px;
  }
}
