-var usuario = "Tomas"
-var titulos = ["Titulo Principal", "Subtítulo 1", "Subtítulo 2", "Subtítulo 3"]
-var enlaces = ["Acerca", "Noticias", "Contacto"]

mixin caja(imagen, titulo, contenido)
  .caja
    .caja__imagen: img(src="./static/images/"+imagen)
    .caja_contenido 
      h3= titulo
      p= contenido